body{
  background: #303030;
}
h1 {
  color: #CA7218;
  text-align: center;
}

/* Contenedor del puzzle*/
#puzzleContainer {
	/*display: none;  */
	margin: 20px auto;
	width: 306px;
	background: rgba(20,20,20,0.8);
	box-shadow: 0px 0px 10px  2px #777;
	color: #ccc;
	padding: 20px;
	border-radius: 10px;
	overflow: hidden;
}


/* Puzzle */
#containerPieces{
	background: #afa9a9;
	width: 306px;
	height: 153px;
	margin-top: 20px;
	position: relative;
}

#puzzle {
	background: #423c3c;
	width: 306px;
	height: 306px;
}
.containerPiece {
	width: 100px;
	height: 100px;
	float: left;
	border: 1px solid #f7ebeb;
}

#puzzleContainer img {
	padding: 1px;
	width: 100px;
	height: 100px;
	position: absolute;
}

#timer {
	display: none;
	color: white;
}

#top10 {
	width: 200px;
	color: white;
}